# AWS
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_DEFAULT_REGION=ap-southeast-2
S3_BUCKET_NAME=fake-review-detector
AWS_ACCOUNT_ID=your_account_id_here

# Docker
DOCKER_USERNAME=your_docker_username

# App
FLASK_ENV=development
FLASK_DEBUG=1
MODEL_PATH=models/fake_review_model.pkl
HOST=0.0.0.0
PORT=5000
